.addNewMenu{
    box-shadow: 1px 1px 7px rgb(151, 150, 150);
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1.5rem;
}
.addNewMenuIcon{
    font-size: 1.5rem;
}
.addNewMenuLable{
    font-weight: 600;
    margin: 7px 5px 2px 0;
}